/* 111550108 吳佳諭 第三次作業 11/1 */
/* 111550108 Chia-Yu Wu The Third Homework 11/1 */
*{
    text-decoration: none;
}

body{
    margin: 0 auto;
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #FFFAF0;
    position: relative;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #a8a8a8;
}
::-webkit-scrollbar-track{
    background: #e5e1d8;
}

#my_cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    z-index: 200;
    opacity: 0.8;
    pointer-events: none;
    transition-duration: 0.2s;
}
#cursor_shadow{
    position: fixed;
    width: 50px;
    height: 50px;
    z-index: 200;
    opacity: 0.4;
    pointer-events: none;
    transition-duration: 0.3s;
}

.header{
    background-color: #DDA0DD;
    display: flex;
    position: fixed;
    z-index: 100;
    
    height: 80px;
    top: 0px;
    right: 0px;
    left: 0px;
    padding: 0 80px;
    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.header a:hover{
    text-decoration: underline;
}
.header-left{
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
.header-left a{
    color: white;
}
.header-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-right a{
    margin-right: 15px;
    align-items: center;
    color: white;
}