/* 111550108 吳佳諭 第三次作業 11/1 */
/* 111550108 Chia-Yu Wu The Third Homework 11/1 */
#vid{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 50%;
    object-fit: cover;
    z-index: 199;
    transform: translate(-50%, -50%);
}
.main{
    flex-direction: column;
    padding: 20px 100px 50px 100px;
}
#main{
    display: none;
    opacity: 0;
    transition: opacity 2s;
}
#header{
    display: none;
    opacity: 0;
    transition: opacity 2s;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    animation: title_slide 4s forwards;
}
@keyframes title_slide{
    0%{
        opacity: 0;
        transform: translateX(-10%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.title img{
    margin-right: 30px;
}

.content{
    display: flex;
    justify-content: space-between;
}
.main-left{
    padding: 0 20px;
    margin-right: 50px;
    height: 90px;

    background-color: 	#FAFAFA	;
    border-radius: 20%;
}
.main-left a{
    display: block;
    margin: 10px 0;
    color: gray;
}

.main-right{
    flex: 1;
}
.main-right a{
    color: rgba(0, 0, 255, 0.8);
}
.block{
    margin-bottom: 50px;
}
.block_{
    padding: 10px 20px;
    margin-bottom: 50px;
    opacity: 0;
    border-radius: 15px;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(50px);
}
.block_.active{
    opacity: 1;
    transform: translateY(0);
    animation: big 0.5s;
}
@keyframes big{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
#block1{
    background-color: #fddee3;
}
#block2{
    background-color: #ffe1bb;
}
#block3{
    background-color: #cde6d1;
}
#block4{
    background-color: #c4e7fa;
}
#block5{
    background-color: #dcdff2;
}

.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 30px;
}

.marquee-content {
    display: block;
    animation: marquee 60s linear infinite;
    transform: translateX(0);
}

.marquee-content img {
    height: 350px;
    margin: 0 10px;
    border-radius: 10%;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

#popup{
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: opacity 2s;
}
.popup-content{
    width: 600px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 10px 40px;
    border-radius: 15px;
    position: relative;
}
.popup-content h3{
    text-align: center;
    margin-bottom: 10px;
}
.popup-content p:first-of-type {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    color: gray;
    text-align: right;
}
.ad-img{
    float: left;
    margin: 0 15px 0px 0;
    width: 300px;
}

.close-btn{
    z-index: 50;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}