/* 111550108 吳佳諭 第一次作業 9/26 */
/* 111550108 Chia-Yu Wu The First Homework 9/26 */
*{
    text-decoration: none;
}

body{
    margin: 0 auto;
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #FFFAF0;
}

.header{
    background-color: #DDA0DD;
    display: flex;
    position: fixed;
    z-index: 2;
    
    height: 80px;
    top: 0px;
    right: 0px;
    left: 0px;
    padding: 0 80px;
    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header a:hover{
    text-decoration: underline;
}
.header-left{
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
.header-left a{
    color: white;
}
.header-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-right a{
    margin-right: 15px;
    align-items: center;
    color: white;
}